* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: darkcyan;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1vh;
    width: 100%;
    color: darkcyan;
    text-align: center;
}
